$font-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

.docs {
  padding-top: 64px;
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-top: 16px;
    padding-bottom: 64px;
  }

  &__wrap {
    display: flex;

    @media (max-width: $width-tablet-1) {
      flex-wrap: wrap;
    }
  }

  &__navi {
    max-width: 224px;
    width: 100%;
    margin-right: 12px;

    @media (max-width: $width-tablet-1) {
      max-width: 100%;
      margin: 0 0 48px;
    }
  }

  &__html {
    max-width: $width-tablet-2;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $width-tablet-1) {
      max-width: 100%;
    }

    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 32px;
    }
    blockquote > p {
      border-left: inset;
      padding-left: 10px;
      font-size: 16px;
      line-height: 2;
    }

    > div {
      > p {
        @include ms();
      }

      > h1, > h2, > h3, > h4, > h5, > h6, > p, > div, > ul, > ol, > table {
        margin: 16px 0;
      }

      > ol, > ul {
        padding-left: 64px;

        @media (max-width: $width-tablet-1) {
          padding-left: 32px;
        }

        li {
          list-style-type: disc;
          @include p();
          font-size: 14px;
        }
      }

      > table {
        @include ms();
        width: 100%;

        td, th {
          padding: 8px 12px;
          border: 1px solid $grey-light;
        }

        th {
          @include font-bold();
        }

        tbody {
          tr:nth-child(odd) {
            background-color: $grey;
          }
        }
      }

      code[class*="language-"],
      pre[class*="language-"] {
        font-size: 0.82em;

        @media (max-width: $width-tablet-1) {
          font-size: 13px;
        }
      }

      code:not([class*="language-"]) {
        font-family: $font-mono;
        font-size: 13px;
      }
    }

    > div > :first-child {
      margin-top: 0;
    }
  }

  &__item {
    margin-top: 16px;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
      stroke: $jambonz;
      margin-right: 8px;
      transform: translateY(-2px) translateX(-2px);
    }
  }

  &__sublist {
    padding-left: 28px;
    display: none;

    &.active {
      display: block;
    }
  }

  &__subitem {
    margin-bottom: 8px;

    &:first-child {
      margin-top: 4px;
    }

    a {
      line-height: 1.5;

      &.active {
        @include font-bold();
      }
    }
  }
}