/******************************************************************************
 * Privacy Contents
*******************************************************************************/
.privacy__content {
  margin: -6rem 6rem 6rem;

  &__item {
    margin-top: 3rem;

    p {
      line-height: 1.5;
      margin-bottom: 1rem;
      font-size: 20px;
    }

    b {
      font-weight: bold;
    }

    & > ul > ul {
      margin-left: 2rem;
    }
  }
}
