/******************************************************************************
 * Jambonz Facts
*******************************************************************************/
.facts {
  padding-bottom: 96px;
  padding-top: 32px;

  @media (max-width: $width-tablet-1) {
    padding-bottom: 64px;
  }

  @media (max-width: $width-tablet-2) {
    padding-top: 0;
  }

  .icon {
    transform: translateY(-4px);

    @media (max-width: $width-tablet-1) {
      transform: translateY(-8px);
    }

    @media (max-width: $width-tablet-2) {
      transform: translateY(-10px);
    }

    @media (max-width: $width-mobile) {
      transform: none;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: $width-tablet-1) {
      margin: 0 -16px;
    }

    @media (max-width: $width-tablet-2) {
      margin: 0;
    }
  }

  &__item {
    width: 38.8888888889vw;
    max-width: 560px;
    display: flex;
    margin: 0 32px;
    padding-top: 64px;

    @media (max-width: $width-tablet-1) {
      width: calc(50% - 32px);
      margin: 0 16px;
    }

    @media (max-width: $width-tablet-2) {
      max-width: 480px;
      width: 100%;
      margin: 0;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
  }

  &__text {
    width: calc(100% - #{$icon-size-1});
    padding-left: 16px;

    > div + div {
      margin-top: 16px;
    }

    @media (max-width: $width-tablet-2) {
      width: 100%;
      padding: 0;
      margin-top: 16px;
    }
  }
}

/******************************************************************************
 * Open Source
*******************************************************************************/
.os {
  text-align: center;
  
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtext {
    margin-top: 16px;
    max-width: 735px;

    @media (max-width: $width-tablet-1) {
      max-width: 615px;
    }
  }

  &__btns {
    padding: 64px 0;

    @media (max-width: $width-tablet-1) {
      padding: 48px 0;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px;
      margin-bottom: 32px;

      @media (max-width: $width-mobile) {
        width: 160px;
      }
    }
  }

  &__cta {
    @include cta();
  }
}