@font-face {
    font-family: $font-regular;
    src: url('/fonts/objectivity-regular-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $font-regular-italic;
    src: url('/fonts/objectivity-regularslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-regularslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-medium;
    src: url('/fonts/objectivity-medium-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $font-medium-italic;
    src: url('/fonts/objectivity-mediumslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-mediumslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-bold;
    src: url('/fonts/objectivity-bold-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $font-bold-italic;
    src: url('/fonts/objectivity-boldslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-boldslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
  font-family: $font-black;
  src: url('/fonts/objectivity-black-webfont.woff2') format('woff2'),
       url('/fonts/objectivity-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $font-black-italic;
  src: url('/fonts/objectivity-blackslanted-webfont.woff2') format('woff2'),
       url('/fonts/objectivity-blackslanted-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/