/******************************************************************************
 * Main container wrap
*******************************************************************************/
.wrap {
  max-width: calc(#{$width-max} + #{$width-padding} * 2);
  width: 100%;
  margin: 0 auto;
  padding-left: $width-padding;
  padding-right: $width-padding;
}

.pad {
  padding-top: 96px;
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  img {
    display: inline-block;
  }
}

.pad-b {
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-bottom: 64px;
  }
}

.pad-t {
  padding-top: 96px;

  @media (max-width: $width-tablet-1) {
    padding-top: 64px;
  }
}