.jambonz-ui {
  text-align: center;

  .wrap-text {
    display: flex;
    justify-content: center;

    h1 {
      max-width: 1024px;
    }

    h2 {
      max-width: 950px;
    }

    h3 {
      max-width: 860px;
    }

    h4 {
      max-width: 875px;
    }

    h5 {
      max-width: 768px;
    }

    h6 {
      max-width: 640px;
    }

    p {
      max-width: 640px;
    }

    .m, .ms {
      max-width: 500px;
    }

    .mxs {
      max-width: 380px;
    }

    > div {
      margin: 0 auto;
    }
  }
}