/******************************************************************************
 * Regions
*******************************************************************************/
.regions {
  text-align: center;
  margin-top: 64px;

  @media (max-width: $width-tablet-1) {
    margin-top: 32px;
  }

  &__wrap {
    @include flex-cols();
    padding-bottom: 64px;

    @media (max-width: $width-mobile) {
      padding-bottom: 32px;
    }
  }

  &__icon {
    padding-bottom: 24px;

    @media (max-width: $width-mobile) {
      padding-bottom: 16px;
    }
  }

  &__text {
    color: $black;
  }
}