.bg--jambonz {
  background-color: $jambonz;
  color: $white;
}

.bg--black {
  background-color: $black;
  color: $white;
}

.bg--charcoal {
  background-color: $charcoal;
  color: $white;
}

.bg--grey {
  background-color: $grey;
}

.bg--pink {
  background-color: $pink;
}

.bg--blue {
  background-color: $blue;
}

.bg--purple {
  background-color: $purple;
}

.bg--teal {
  background-color: $teal;
}