.btn {
  font-size: $m-size;
  line-height: 1;
  padding: 23px 64px 21px;
  background-color: $jambonz;
  color: $white;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  transition: background-color $base-dur $base-ease,
              border-color $base-dur $base-ease,
              color $base-dur $base-ease;
  @include font-bold();

  &:hover {
    background-color: mix($pink, $jambonz, $mix-amount);
  }

  @media (max-width: $width-tablet-2) {
    font-size: $ms-size;
  }

  // @note: Consideration on stopping type reduction here
  // @media (max-width: $width-mobile) {
  //   font-size: $mxs-size;
  // }

  &--login {
    font-family: $font-medium;
    font-size: $ms-size;
    background-color: transparent;
    border: 2px solid $jambonz;
    color: $jambonz;
    padding: 10px 26px;

    &:hover {
      background-color: $jambonz;
      color: $white;
    }

    &--white {
      color: $white;
      border-color: $white;

      &:hover {
        background-color: $white;
        color: $charcoal;
      }
    }

    @media (max-width: $width-tablet-2) {
      font-size: $mxs-size;
    }
  }

  &--fill {
    &--dark {
      background-color: $charcoal;

      &:hover {
        background-color: mix($white, $charcoal, $mix-amount);
      }
    }

    &--purple {
      background-color: $purple;

      &:hover {
        background-color: mix($white, $purple, $mix-amount);
      }
    }

    &--teal {
      background-color: $teal;

      &:hover {
        background-color: mix($white, $teal, $mix-amount);
      }
    }

    &--blue {
      background-color: $blue;

      &:hover {
        background-color: mix($white, $blue, $mix-amount);
      }
    }

    &--light {
      background-color: $white;
      color: $jambonz;

      &:hover {
        background-color: mix($grey-light, $white, $mix-amount);
      }
    }
  }

  &--pill {
    font-family: $font-regular;
    background-color: transparent;
    border: 2px solid $charcoal;
    color: $charcoal;
    padding: 18px 32px 17px;

    &:hover {
      background-color: $charcoal;
      color: $white;
    }

    @media (max-width: $width-mobile) {
      padding: 15px 32px 16px;
    }
    
    svg, span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 16px;
      width: 18px;
      height: 18px;

      @media (max-width: $width-tablet-2) {
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }

      @media (max-width: $width-mobile) {
        margin-right: 10px;
        width: 14px;
        height: 14px;
      }
    }

    &--jambonz {
      border-color: $jambonz;
      color: $jambonz;

      &:hover {
        background-color: $jambonz;
        color: $white;

        svg {
          stroke: $white;
        }
      }

      svg {
        stroke: $jambonz;
      }
    }
  }
}

.btn:not(.btn--pill, .btn--login) {
  @media (max-width: $width-tablet-2) {
    padding: 18px 46px;
  }
}

.btns {
  margin: 0 -2.2222222222vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $width-mobile) {
    flex-direction: column;
  }

  .btn {
    margin: 0 2.2222222222vw;

    &:not(:first-child) {
      @media (max-width: $width-mobile) {
        margin-top: 16px;
      }
    }

    @media (max-width: $width-mobile) {
      margin: 0;
    }
  }
}