@use '@jambonz/ui-kit/src/styles/vars' as ui-vars;

.foot {
  padding: 96px 0;

  &__navs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__links {
    margin: 0 64px;

    li {
      margin-bottom: 16px;
    }

    @media (max-width: ui-vars.$width-mobile) {
      margin: 0;
      width: 100%;
    }
  }

  &__links:first-child {
    text-align: right;

    @media (max-width: ui-vars.$width-mobile) {
      text-align: center;
    }
  }

  &__links:last-child {
    text-align: left;

    @media (max-width: ui-vars.$width-mobile) {
      text-align: center;
      margin-top: 32px;
    }
  }

  &__link {
    color: ui-vars.$white;
    text-decoration: none;

    &:hover {
      color: ui-vars.$jambonz;
    }

    &.active {
      color: ui-vars.$jambonz;
      border-bottom: 1px solid ui-vars.$jambonz;
    }
  }

  &__support {
    text-align: center;
    padding-top: 64px;

    @media (max-width: ui-vars.$width-mobile) {
      padding-top: 48px;
    }
  }
}