@use 'vars';
@use 'mixins';

@use 'jambonz-ui/src/styles/vars' as ui-vars;
@use 'jambonz-ui/src/styles/mixins' as ui-mixins;

/******************************************************************************
 * Above the fold
*******************************************************************************/
.banner {
  @include mixins.flex-cols();
  justify-content: center;
  width: 100%;
  height: 32px;
  background: ui-vars.$jambonz;
  position: sticky;
  top: 0;
  z-index: vars.$navi-index + 2;
  text-align: center;

  a {
    @include ui-mixins.ms();
    color: ui-vars.$white;
    font-family: ui-vars.$font-medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: ui-vars.$width-mobile) {
      @include ui-mixins.mxs();
    }
  }

  // Effects .navi @see _navi.scss
  & + .navi {
    .navi__mobile {
      padding-top: 32px;
    }
  }
}

.latest {
  text-align: center;

  &--tadhack {
    .latest__headline {
      max-width: 840px;

      @media (max-width: ui-vars.$width-tablet-1) {
        max-width: 760px;
      }

      @media (max-width: 400px) {
        max-width: 330px;
      }
    }

    .latest__subtext {
      max-width: 740px;

      @media (max-width: 400px) {
        max-width: 300px;
      }

      div {
        @media (max-width: ui-vars.$width-small) {
          display: inline;
        }
      }

      div:last-child {
        @media (max-width: ui-vars.$width-small) {
          padding-left: 6px;
        }
      }
    }
  }

  &__wrap {
    @include mixins.flex-cols();
  }

  &__headline {
    color: ui-vars.$jambonz;
  }

  &__subtext {
    margin-top: 16px;

    a {
      border-bottom: 1px solid ui-vars.$jambonz;
    }
  }
}

.hero {
  text-align: center;

  &--home {
    padding-bottom: 64px;
  }

  &--why {
    .hero__subtext {
      max-width: 870px;

      @media (max-width: ui-vars.$width-tablet-1) {
        max-width: 740px;
      }
    }
  }

  &--pricing {
    padding-bottom: 0;

    .hero__subtext {
      max-width: 770px;
    }
  }

  &--pink {
    position: relative;

    .hero__wrap {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      background-color: ui-vars.$pink;
      width: 100%;
      height: calc(100% + #{vars.$navi-height});
      transform: translateY(-#{vars.$navi-height});
      z-index: 1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    h1 {
      color: ui-vars.$jambonz;
    }
  }

  &__wrap {
    @include mixins.flex-cols();
  }

  &__subtext {
    margin-top: 16px;
    margin-bottom: 32px;
    
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/******************************************************************************
 * Classes for extra markdown styling
*******************************************************************************/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}