.text-layout {
  max-width: $width-tablet-2;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $width-tablet-1) {
    max-width: 100%;
  }

  &__wrap {
    // CSS Owl Selector
    // https://dev.to/kevtiq/an-ode-to-the-css-owl-selector-359c
    > * + * {
      margin-top: 24px;
    }

    a {
      border-bottom: 1px solid $jambonz;
    }

    sup {
      color: $jambonz;
    }

    p {
      @include ms();
    }

    blockquote {
      padding-left: 16px;

      p {
        font-family: $font-regular-italic;
        border-left: 3px solid $jambonz;
        padding-left: 10px;
      }
    }

    ol {
      padding-left: 16px;

      li {
        list-style-type: decimal;
        margin: 16px 0;

        p,
        &::marker {
          @include p();
          font-size: 14px;
        }
      }
    }

    ul {
      padding-left: 32px;

      li {
        list-style-type: disc;
        @include ms();
      }
    }

    table {
      @include ms();
      width: 100%;

      td, th {
        padding: 8px 12px;
        border: 1px solid $grey-light;
      }

      th {
        @include font-bold();
      }

      tbody {
        tr:nth-child(odd) {
          background-color: $grey;
        }
      }
    }

    pre[class*="language-"] {
      margin: 0;
    }

    code[class*="language-"],
    pre[class*="language-"] {
      font-size: 0.82em;

      @media (max-width: $width-tablet-1) {
        font-size: 13px;
      }
    }

    code:not([class*="language-"]) {
      font-family: $font-mono;
      font-size: 13px;
    }
  }
}
