/******************************************************************************
 * Special mobile layout width
 * Utilized in src/components/hooks: useMobileMedia
*******************************************************************************/
:root {
  --mobile-media: 896px;
}

$mobile-width: 896px;

/******************************************************************************
 * Sizes
*******************************************************************************/
$navi-index: 999;
$navi-height: 76px;