@use '@jambonz/ui-kit/src/styles/index';

@use 'layout';
@use 'text-layout';
@use 'markdown';
@use 'navi';
@use 'footer';
@use 'pages/home';
@use 'pages/why';
@use 'pages/pricing';
@use 'pages/regions';