.bg-jambonz {
  background-color: $jambonz;
  color: $white;
}

.bg-black {
  background-color: $black;
  color: $white;
}

.bg-charcoal {
  background-color: $charcoal;
  color: $white;
}

.bg-grey {
  background-color: $grey;
}

.bg-pink {
  background-color: $pink;
}