.btn {
  font-size: 16px;
  line-height: 1;
  padding: 23px 65px 21px;
  background-color: $jambonz;
  color: $white;
  text-decoration: none;
  font-family: 'objectivitybold';
  border-radius: 30px;
  display: inline-block;

  &--fill {
    &--dark {
      background-color: $charcoal;
    }

    &--purple {
      background-color: $purple;
    }

    &--teal {
      background-color: $teal;
    }

    &--blue {
      background-color: $blue;
    }

    &--light {
      background-color: $white;
      color: $jambonz;
    }
  }

  &--pill {
    background-color: transparent;
    border: 2px solid $charcoal;
    color: $charcoal;
    padding: 19px 32px 18px;
    font-family: 'objectivityregular';
    
    svg, span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 16px;
    }

    &--jambonz {
      border-color: $jambonz;
      color: $jambonz;

      svg {
        stroke: $jambonz;
      }
    }
  }

  &--login {
    background-color: transparent;
    border: 2px solid $jambonz;
    color: $jambonz;
    padding: 10px 26px 8px;
    font-family: 'objectivityregular';
    font-size: 14px;
  }
}

.btns {
  margin: 0 -32px;

  .btn {
    margin: 0 32px;
  }
}