.btn {
  font-size: $m-size;
  line-height: 1;
  padding: 23px 64px 21px;
  background-color: $jambonz;
  color: $white;
  text-decoration: none;
  font-family: 'objectivitybold';
  border-radius: 30px;
  display: inline-block;

  @media (max-width: $width-tablet-2) {
    font-size: $ms-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $mxs-size;
  }

  &--login {
    font-family: 'objectivityregular';
    font-size: $ms-size;
    background-color: transparent;
    border: 2px solid $jambonz;
    color: $jambonz;
    padding: 10px 26px 8px;

    @media (max-width: $width-tablet-2) {
      font-size: $mxs-size;
    }
  }

  &--fill {
    &--dark {
      background-color: $charcoal;
    }

    &--purple {
      background-color: $purple;
    }

    &--teal {
      background-color: $teal;
    }

    &--blue {
      background-color: $blue;
    }

    &--light {
      background-color: $white;
      color: $jambonz;
    }
  }

  &--pill {
    font-family: 'objectivityregular';
    background-color: transparent;
    border: 2px solid $charcoal;
    color: $charcoal;
    padding: 18px 32px 17px;
    
    svg, span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 16px;
      width: 18px;
      height: 18px;

      @media (max-width: $width-tablet-2) {
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }

      @media (max-width: $width-mobile) {
        margin-right: 10px;
        width: 14px;
        height: 14px;
      }
    }

    &--jambonz {
      border-color: $jambonz;
      color: $jambonz;

      svg {
        stroke: $jambonz;
      }
    }
  }
}

.btn:not(.btn--pill, .btn--login) {
  @media (max-width: $width-tablet-2) {
    padding: 18px 46px;
  }
}

.btns {
  margin: 0 -2.2222222222vw;

  .btn {
    margin: 0 2.2222222222vw;
  }
}