@font-face {
    font-family: 'objectivitybold_italic';
    src: url('/fonts/objectivity-boldslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-boldslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'objectivityitalic';
    src: url('/fonts/objectivity-regularslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-regularslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'objectivitymedium_slanted';
    src: url('/fonts/objectivity-mediumslanted-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-mediumslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'objectivitybold';
    src: url('/fonts/objectivity-bold-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivityregular';
    src: url('/fonts/objectivity-regular-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivitymedium';
    src: url('/fonts/objectivity-medium-webfont.woff2') format('woff2'),
         url('/fonts/objectivity-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}