/******************************************************************************
 * Main container wrap
*******************************************************************************/
.wrap {
  max-width: calc(#{$width-max} + #{$width-padding} * 2);
  width: 100%;
  margin: 0 auto;
  padding-left: $width-padding;
  padding-right: $width-padding;
}

.pad {
  padding-top: 96px;
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  img {
    display: inline-block;
  }
}

/******************************************************************************
 * Above the fold
*******************************************************************************/
.hero {
  text-align: center;

  &--why {
    .hero__subtext > div {
      max-width: 870px;
    }
  }

  &--pricing {
    position: relative;

    &:before {
      content: '';
      background-color: $pink;
      width: 100%;
      height: calc(100% + #{$navi-height});
      transform: translateY(-#{$navi-height});
      z-index: 1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    .hero__wrap {
      position: relative;
      z-index: 2;
    }

    .hero__headline {
      color: $jambonz;
    }

    .hero__subtext {
      margin-bottom: 0;

      > div {
        max-width: 820px;
      }

      > div + div {
        margin-top: 32px;
      }
    }
  }

  &__subtext {
    margin-top: 16px;
    margin-bottom: 32px;
    
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}