/******************************************************************************
 * Main container wrap
*******************************************************************************/
.wrap {
  max-width: calc(#{$width-max} + #{$width-padding} * 2);
  width: 100%;
  margin: 0 auto;
  padding-left: $width-padding;
  padding-right: $width-padding;
}

.pad {
  padding-top: 96px;
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  img {
    display: inline-block;
  }
}

.pad-b {
  padding-bottom: 96px;

  @media (max-width: $width-tablet-1) {
    padding-bottom: 64px;
  }
}

/******************************************************************************
 * Above the fold
*******************************************************************************/
.hero {
  text-align: center;

  &--why {
    .hero__subtext {
      max-width: 870px;

      @media (max-width: $width-tablet-1) {
        max-width: 740px;
      }
    }
  }

  &--pricing {
    padding-bottom: 0;

    .hero__wrap {
      position: relative;
      z-index: 2;
    }

    .hero__subtext {
      max-width: 770px;
    }
  }

  &--privacy, &--terms {
    padding-bottom: 16px;
  }

  &__wrap {
    @include flex-cols();
  }

  &__subtext {
    margin-top: 16px;
    margin-bottom: 32px;
    
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/******************************************************************************
 * Fluid video embeds
*******************************************************************************/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}