/******************************************************************************
 * Mixins
*******************************************************************************/
@mixin font-bold() {
  font-family: 'objectivitybold';
  font-weight: normal;

  em {
    font-family: 'objectivitybold_slanted';
  }
}

@mixin font-medium() {
  font-family: 'objectivitymedium';

  em {
    font-family: 'objectivitymedium_slanted';
  }
}

@mixin p() {
  font-size: $p-size;
  line-height: 1.9;

  @media (max-width: $width-tablet-2) {
    font-size: $m-size;
  }

  // @note: Consideration on stopping type reduction here
  @media (max-width: $width-mobile) {
    font-size: $ms-size;
  }
}

@mixin cta() {
  margin-top: 96px;

  @media (max-width: $width-tablet-1) {
    margin-top: 64px;
  }
}

@mixin flex-cols() {
  display: flex;
  flex-direction: column;
  align-items: center;
}