html,
body {
  font-family: 'objectivityregular';
  letter-spacing: -0.02px;
  color: $charcoal;
}

a {
  color: $jambonz;

  svg, span {
    display: inline-block;
    vertical-align: middle;
  }

  svg:last-child {
    margin-left: 8px;
  }

  svg:first-child {
    margin-right: 8px;
  }
  
  /*
   * Using React Feather
   * https://github.com/feathericons/react-feather
   * Default size is 24x24 for SVG icons
   * Sizing can be passed in component JS as in:
   * <Icon size={18} name="GitHub" />
   * However the inline, in-text SVG icons need to be
   *    responsive with the text scaling so some CSS
   *    can achieve the desired result in this case:
   *    e.g. <span>text</span><Icon name="ExternalLink" />
   *
   */
  svg {
    @media (max-width: $width-tablet-1) {
      width: 20px;
      height: auto;
    }

    @media (max-width: $width-tablet-2) {
      width: 18px;
    }

    @media (max-width: $width-mobile) {
      width: 16px;
    }
  }
}

strong {
  font-family: 'objectivitybold';
}

em {
  font-family: 'objectivityitalic';
}

.h1 {
  font-size: $h1-size;
  line-height: 1.33;
  letter-spacing: -0.06px;
  font-family: 'objectivitybold';

  em {
    font-family: 'objectivitybold_italic';
  }

  @media (max-width: $width-tablet-1) {
    font-size: $h2-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $h3-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $h4-size;
  }
}

.h2 {
  font-size: $h2-size;
  line-height: 1.35;
  letter-spacing: -0.05px;
  font-family: 'objectivitybold';

  em {
    font-family: 'objectivitybold_italic';
  }

  @media (max-width: $width-tablet-1) {
    font-size: $h3-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $h4-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $h5-size;
  }
}

.h3 {
  font-size: $h3-size;
  line-height: 1.33;
  letter-spacing: -0.05px;
  font-family: 'objectivitybold';

  em {
    font-family: 'objectivitybold_italic';
  }

  @media (max-width: $width-tablet-1) {
    font-size: $h4-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $h5-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $h6-size;
  }
}

.h4 {
  font-size: $h4-size;
  line-height: 1.5;
  letter-spacing: -0.04px;

  @media (max-width: $width-tablet-1) {
    font-size: $h5-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $h6-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $p-size;
  }
}

.h5 {
  font-size: $h5-size;
  line-height: 1.67;
  letter-spacing: -0.03px;

  @media (max-width: $width-tablet-1) {
    font-size: $h6-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $p-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $m-size;
  }
}

.h6 {
  font-size: $h6-size;
  line-height: 1.8;
  letter-spacing: -0.03px;

  @media (max-width: $width-tablet-1) {
    font-size: $p-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $m-size;
  }

  @media (max-width: $width-mobile) {
    font-size: $ms-size;
  }
}

.p {
  font-size: $p-size;
  line-height: 1.9;

  @media (max-width: $width-tablet-1) {
    font-size: $m-size;
  }

  @media (max-width: $width-tablet-2) {
    font-size: $ms-size;
  }
}

.m {
  font-size: $m-size;
  line-height: 1.9;

  @media (max-width: $width-tablet-1) {
    font-size: $ms-size;
  }
}

.ms {
  font-size: $ms-size;
  line-height: 2;

  @media (max-width: $width-tablet-1) {
    font-size: $mxs-size;
  }
}

.mxs {
  font-size: $mxs-size;
  line-height: 2;
}