/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey: #f8f8f8;
$jambonz: #da1c5c;
$pink: #fff3f6;
$charcoal: #231f20;
$purple: #9662b2;
$teal: #30beb0;
$blue: #006dff;

/******************************************************************************
 * Font sizes
*******************************************************************************/
$h1-size: 48px;
$h2-size: 40px;
$h3-size: 36px;
$h4-size: 32px;
$h5-size: 24px;
$h6-size: 20px;
$p-size: 18px;
$m-size: 16px;
$ms-size: 14px;
$mxs-size: 12px;

/******************************************************************************
 * Icon sizes
*******************************************************************************/
$icon-size-1: 48px;
$icon-size-2: 40px;
$icon-size-3: 36px;

/******************************************************************************
 * Sizes
*******************************************************************************/
$width-max: 1440px;
$width-tablet-1: 1024px;
$width-tablet-2: 768px;
$width-mobile: 640px;
$width-padding: 4.4444444444vw;

/******************************************************************************
 * Animation / transitions
*******************************************************************************/
$base-dur: 200ms;
$base-ease: ease;